# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Project Specific
local-data/
local-plots/
*.log

# OS
.DS_Store
Thumbs.db
